body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 96vh;
  /*height: 300px;*/
  min-height: 100%;
  width: 98vw;
  min-width: 100%;
}

/* disable copy */
body, html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* smooth scrolling */
body, html {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
}

* {
    -webkit-overflow-scrolling: touch;
}
